@import './style.scss';
@import './responsive.scss';

.services-area-two {
  p {
    margin-bottom: 1rem;
  }
  .learn-more-btn {
    color: #365267;
    font-size: 14px;
    font-weight: 600;
    &:hover {
      color: #44ce6f;
    }
  }
  .ser-title {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    h3 {
      margin: 0 0 0 15px;
    }
  }
}

.startp-nav {
  .header-extras {
    li {
      margin-left: 12px;
      display: flex;
      overflow: hidden;
      list-style: none;
      align-items: center;
      svg {
        margin: 0 4px;
      }
      .he-text {
        padding-left: 10px;
        font-size: 0.875rem;
        display: flex;
        flex-direction: column;
        span {
          font-size: 15px;
        }
      }
    }
  }
}
